[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/bundle/open_file_under_cursor.vim"]
	path = .vim/bundle/open_file_under_cursor.vim
	url = https://github.com/amix/open_file_under_cursor.vim.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-js"]
	path = .vim/bundle/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule ".vim/bundle/vim-prettier"]
	path = .vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/yats.vim"]
	path = .vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule ".vim/bundle/mru.vim"]
	path = .vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
